nav {
    width:135px;
    height:100%;
    border-bottom:#ccc 1px solid; 
    box-shadow:rgba(0,0,0,.1) 0px 2px 3px;
    
    background:#fff;
    position:fixed;
    
    z-index:1000;
    top:0;
    left:0;
    right:0;
}

nav ul {
    height:35px;
    
    margin:0;
    padding:0;
}

nav ul li {
    height:105px;
    width:135px;
    list-style:none;
margin:0; border-bottom:#ccc 1px solid;
    
}

nav ul li a {
    height:100px;
    width:105px;
    text-align:center;
    
    display:block;
    padding:5px 15px;
    
    font-size:17px;
    text-decoration:none;
    color:#333;
}

nav ul li a:hover,
nav ul li a:active {
    background:#efefef;
    box-shadow:rgba(0,0,0, .3) 0px 0px 3px inset;
}

nav ul li.set a {
    background:#ddd;
    box-shadow:rgba(0,0,0, .3) 0px 0px 3px inset;
}

.wrapper-content {
    position:absolute;
    top:0; left:135; right:0; bottom:0;
    position: fixed;

}

/* The Main Card on the Front Page */

#main-card {
    margin:30px 5% 0 5%;
    width:90%;
    height:auto;
}

#main-card .card-image-holder {
    height:300px;
    background:#465973;
}

.card-mini-gallery {
   display: none; 
}
#main-card h1, h2 { margin:0; border-bottom:#ccc 1px solid; }
#main-card h1 { padding:10px 15px; }
#main-card h2 { padding:10px 15px; font-size:20px;}
